<div class="row">
	<div class="large-12 column">
		<h1>History of the Garvey Education Association</h2>
		
		<h3>1935 to 1960s</h3>
		<ul>
			<li>The Garvey Teachers Association was founded.  Originally a social organization set in the matter of a tea club.  The Association even purchased their own tea set.</li>
		</ul>
		
		<h3>1970s</h3>
		<ul>
			<li>Under the Whiton Act the Association and the District followed the “meet and confer” provisions with the main power of negotiations on the side of the District</li>
			<li> 1976, under the Rodda Act the Garvey Teachers Association became the exclusive bargaining agent for the teachers, nurses, speech pathologists and psychologists.</li>
			<li>1977, The Garvey Teachers Association changed their name to the Garvey Education Association to accurately reflect who we represent.
			</li>
			<li> 1978, The Garvey Education won the Temporary Teacher Contract Lawsuit.</li>
		</ul>

    <h3>1980s</h3>
    <ul>
    	<li>1983, The District wanted to cut all pupil support services to the students of the Garvey School District.  The Association rallied its unit members and effectively picketed the District with the loss of only one-support personnel.</li>
    	<li> 1983, with the passing of SB 813 there were a number of changes/reforms that were negotiated.  These changes were longer school year, staff development days, mentor teacher program and additional funds for these reforms.  From 1984 to 1986 the Association restructured its salary schedule and went to an indexing of its salary cells.</li>
    </ul>

    <h3>1990s</h3>
    <ul>
    	<li>The Sauzo years presented the Association with many difficult problems.  High ending balances at 17 to 20 percent, top down management, reduction of positions, grievances every other day, lack of her involvement in the Prop 174 voucher campaign.</li>
    	<li> 1993 The Association got actively involved in local school board elections when the Garvey School District had four seats out of five up for election.  There were the three seats for a three-year term and one for a two-year term.  The Association campaigned heavily against the voucher.  As a result we won three out of the four seats.</li>
    	<li> 1994, Fact finding with the District, in which the Association proved its case and the Board followed the recommendations of the Fact-Finding Panel.</li>
    	<li>1994, the association voted no confidence in Supt. Sauzo.</li>
    	<li>The Miranda years presented many problems.</li><br>
    	<p>The GEA voted no confidence in this board member.  The Association actively organized and worked against him and his supporters that tried to run for school board seats.</p>
    	<p>The Association had 5 arbitrations.  The Association withdrew two arbitrations and the District withdrew another one.  The Association and the District each won one arbitration.</p>
    </ul>

    <h3>2000s</h3>
    <ul>
    	<li>Worked to successfully pass Measure “G” to help fix our schools</li>
    	<li>Worked to successfully pass Measure “Q” to help fix our schools</li>
    	<li>Worked to successfully defeat the Governor’s "Reforms"</li>
    </ul>
    <hr>

    <h1>Officers and Committee Chairs</h1>
    <p>President - Michael Drange</p>
    <p>Vice-President - Ken Tang</p>
    <p>Secretary - Nancy Kugler</p>
    <p>Treasurer - Les Nakasaki</p>
    <p>K-3 Representative - Sanya Namboun</p>
    <p>4-6 Representative - Michael Kenny</p>
    <p>7-8 Representative - Greta Smith</p>
    <p>Special Areas Representative - Pat Molina</p>
    <p>Bargaining Chair - Pat Kasababian</p>
    <p>Political Action Chair - Cathie Camacho</p>
    <p>Communications Chair - Sanya Namboun</p>
    <p>Retirement Chair - Nancy Kugler</p>
    <p>Finance Chair - Vacant</p>
    <p>Grievance Chair - Vacant</p>
    <p>Membership Chair - Yolanda Rivera</p>
    <p>Instructional and Professional Development (IPD) - Gloria Lopez</p>
    <p>Organizing Committee Chairs - Gloria Lopez and Sanya Namboun</p>
    <p>Elections Chair - Gloria Lopez</p>
    <p>Human Rights and Equity - Alayna Sato</p>
    <p>Sunshine Committee</p>
    <p>Safety Committee - Les Nakasaki</p>
    <p>Webmaster - Michael Drange</p>
  </div>
</div>




