<div class="row">
	<div class="large-12 column">
		<address>
		Garvey Education Association<br> 
		7555 Garvey Avenue<br> 
		Rosemead, CA 91770<br> 
		<br>
		Phone: (626) 576-2488
		Fax: (626) 576-2332
		Email:<a href="mailto:garvey@garveyea.org">
		garvey@garveyea.org</a>
		</address>
	</div>
</div>
