<div class="row">
	<div class="large-12 column">
		<p>Included on this page are links to the most recently printed contract between the Garvey School District, and the Garvey Education Association, as well as the subsequent agreements which were negotiated during the years since the last contract printing. </p>
		<p><strong>Note: All the documents listed are unofficial, and meant to be used for information purposes only.</strong></p>

		<p><a href=#>GEA Contract (Complete)</a></p>
		<p>GEA Contract by Article (Be sure to check the <a href="#new_agreements">subsequent agreements</a> for changes)</p>
		<a href="#">Article 2: Recognition</a><br>
      <a href="#">Article 3: Organizational
        Security</a><br>
      <a href="#">Article 4: Work Year</a><br>
      <a href="#">Article 5: Duty Hours</a><br>
      <a href="#">Article 6: Salary</a><br>
      <a href="#">Article 7: Retirement</a><br>
      <a href="#">Article 8: Fringe Benefits</a><br>
      <a href="#">Article 9: Seniority</a><br>
      <a href="#">Article 10:
        Transfers/Reassignments</a><br>
      <a href="#">Article 11: Leaves</a><br>
      <a href="#">Article 12: Evaluation
        Procedures</a><br>
      <a href="#">Article 13: Personnel Files</a><br>
      <a href="#">Article 14: Grievance Procedure</a><br>
      <a href="#">Article 15: Reduction-In-Force</a><br>
      <a href="#">Article 16: Academic and
        Personal
        Freedom</a><br>
      <a href="#">Article 17: Class Size</a><br>
      <a href="#">Article 18: Shared Teaching</a><br>
      <a href="#">Article 19: Peer Assistance and
        Review
        (PAR)</a><br>
      <a href="#">Article 20: Discipline
        Procedure</a><br>
      <a href="#">Article 21: Public Charges</a><br>
      <a href="#">Article 22: Safety and
        Protection of
        Unit Members</a><br>
      <a href="#">Article 23: Site-Based Decision
        Making</a><br>
      <a href="#">Article 24: Management Rights</a><br>
      <a href="#">Article 25: Concerted
        Activities</a><br>
      <a href="#">Article 26: Negotiations Time
        Line</a><br>
      <a href="#">Article 27: Omissions and
        Errors</a><br>
      <a href="#">Article 28: Effects of
        Agreement</a><br>
      <a href="#">Article 29: Savings Provision</a><br>
      <a href="#">Article 30: Year Round
        Education</a><br>
      <a href="#">Article 31: Term</a><br>
      <a href="#">Appendices</a><br><br><br>
      
      <span id="new_agreements">
      <a href="">GEA - GSD Agreement 04-05 (Articles 5 and 12 are amended)</a><br>
      <a href="">GEA - GSD Agreement 05-06 (Articles 6,8,11 and 20 are amended)</a><br>
      <a href="">GEA - GSD Agreement 06-07 (Articles 4 and 8 are amended)</a><br>
      <a href="">GEA - GSD Agreement 06-07 Addendum (Article 5 is amended) (Full Day Kindergarten)</a><br>
	</div>
</div>