<div class="row">
	<div class="12-large column">
		<h2>Links</h2>
		<a href="http://cta.org">California Teachers Association (CTA)</a><br><br>          
    <a href="http://nea.org">National Education Association(NEA)</a><br>
    <br>
    <a href="http://www.calstrs.com/">California State
      Teachers Retirement System (STRS)</a><br>
    <br>
    <a href="http://www.cde.ca.gov/">California Department
      of Education (CDE)</a><br>
    <br>
    <a href="http://www.ctc.ca.gov/">California Commission
      on Teacher Credentialing (CCTC)</a><br>
    <br>
    <a href="http://www.lacoe.edu/">Los Angeles County
      Office of Education (LACOE)</a><br>
    <br>
    <a href="http://www.garvey.k12.ca.us/">Garvey School
      District (GSD)</a><br>

		<h2>California Content Standards</h2>
		<a href="#">English - Language Arts</a><br><br>
		<a href="#">Mathematics</a><br><br>
		<a href="#">History - Social Science</a><br><br>
		<a href="#">Science</a><br><br>
		<a href="#">Visual and Performing Arts</a><br><br>
		<a href="#">English Language Development</a><br><br>
		<a href="#">Physical Education</a><br><br>
		
		<h2>Elected Officials</h2>
		<a href="http://boxer.senate.gov/">Barbara Boxer - US Senator from California</a><br><br>
    <a href="http://feinstein.senate.gov/">Dianne Feinstein
      - US Senator from California</a><br>
    <br>
    <a href="http://gov.ca.gov">Edmund G. Brown- California Governor</a><br>
    <br>
    <a href="http://chu.house.gov/">Judy Chu - US
      Congresswoman from the 32nd District of California</a><br>
    <br>
    <a href="http://sd24.senate.ca.gov/">Ed Hernandez - California Senator (24th Senate District)</a>
    <a href="http://democrats.assembly.ca.gov/members/a49/">Mike Eng- California Assemblymember (49th Assembly District)</a>
    
	</div>
</div>