<div class="row">
  <div class="large-12 columns">
    <!-- Navigation -->

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->

        <li class="name">
          <h1><a href="/pages/home">Home</a></h1>
        </li>

        <li class="toggle-topbar menu-icon">
          <a href="#"><span>menu</span></a>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li>
            <a href="/pages/about">About</a>
          </li>

          <li>
            <a href="/pages/calendar">Calendar</a>
          </li>

          <li>
            <a href="/pages/contract">Contract</a>
          </li>

          <li>
            <a href="/pages/links">Links</a>
          </li>

          <li>
            <a href="/pages/contact">Contact</a>
          </li>
        </ul>
      </section>
    </nav><!-- End Navigation -->
  </div>
</div>